body {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../src/resources/mobileBackground.jpg");
  background-position: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
code {
  font-family: serif;
}
