.pagination{
    margin: 5px;
}

.pagination button{
    background-color: rgba(245, 245, 245, 0.5);
    color: #232323;
    font-size: 15px;
    margin: 5px;
    display: inline;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid #232323;
}
.pagination button:hover{
    box-shadow: 0 0 6px 1px whitesmoke;
    transform: scale(110%);
    cursor: pointer;
}

#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgba(245, 245, 245, 0.3);
    color: #232323;
    margin: auto;
    max-width: min-content;
    max-height: 350px;
    height: 300px;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    backdrop-filter: blur(2px);
}

.card:hover{
    box-shadow: 0 0 10px 2px #232323;
    transform: scale(95%);
}

img{
    display: flex;
    border-radius: 10px;
    max-height: 230px;
    width: 300px;
    margin-bottom: 10px;
}

.card_text{
    margin: auto;
}

.card h2{
    text-shadow:0 0 10px black;
    margin-bottom: 5px;
    color: whitesmoke;
}