#back_button{
    border-radius: 5px;
    color: #232323;
    background-color: rgba(245, 245, 245, 0.3);
    border: 1px solid #232323;
    margin-bottom: 10px;
    margin-top: 10px;
}
#back_button:hover{
    transform: scale(95%);
    cursor: pointer;

    box-shadow: 0 0 3px 1px whitesmoke;
}

#last_detail{
    margin-bottom: 35px;
}

h1, h3{
    color: #232323;
    text-shadow: 0 0 10px whitesmoke;
}

h2, h4{
    color: whitesmoke;
    text-shadow: 0 0 5px black;
}

fieldset{
    margin: auto;
    display: inline-block;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 20px 1px black inset;
    border-radius: 50px;
}
#background{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, .09);
    border-radius: 50px;
    backdrop-filter:blur(5px);
    box-shadow: 0 0 15px 10px rgba(82, 82, 82, 0.4);
    height: max-content;
    margin-bottom: 20px;
    max-width: 80%;
}

fieldset:last-of-type{
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    legend{
        text-align: center;
    }
    #all_details img{
        margin-right: 15px;
    }
    #all_details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: initial;
    }
    #background{
        max-width: 95%;
    }
    .activity{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }
}

@media (min-width: 779px){
    #activities{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #activities h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px;
    }
}